*{
    padding: 0;
    margin: 0;
}
body{
   background-color: #fff;
   display: flex;
   justify-content: center;
   min-height: 100vh;
   align-items: center;
}
.main{
    position: relative;
    /* border-bottom: 1px solid ; */
} 
input{
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding-bottom: 4px;
}
label{
    position: absolute;
    top: 3.5px;
    left: 5px;
    pointer-events: none;
    transition: all 300ms ease-in-out;

}    
input:focus ~ label,
.text-box:not(:placeholder-shown).text-box:not(:focus)~label

{
    top: -13px;
    font-size: .7rem;
    left: 0;
    color: blue;
}
.border{
    height: 1px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 500ms ease-in-out;
}
input:focus ~ .border,
.text-box:not(:placeholder-shown).text-box:not(:focus)~.border

{
    background-color: blue;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
    
